<header class="header">
  <a href="/" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/dashboard" class="">Dashboard</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/profile/<%= locals.userId %>">Profile</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout">Logout</a>
  </div>
</header>
