<div class="author">
  <h1 class="author__heading">Hi, I am jinx.</h1>
  <p class="author__body">Web Developer.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
    <h2 class="articles__heading">Latest Posts</h2>
    <a href="/posts">View All</a>
  </div>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>

<button class="add-btn"><a class="add-btn"href="/add-post">+</a></button>
 
</section>
